.wrap {
  width: 100%;
  height: 100%;

  .top-bar {
    height: 52px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    padding: 40px 0;
  }
}
