*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  background-color: #eeeded;
  height: 100%;
}
body {
  margin: 0;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
