@use "./var";
@use "@quilnk/theme/src/common/design.scss" as *;

.VPNav {
  .text,
  .VPLink {
    font-size: 13px;
    font-weight: 500;
    color: var(--bp-gray-8);
  }

  .VPNavBar {
    .wrapper {
      border-bottom: 1px solid $borderColor-3;
    }

    .title {
      border: none;
    }
  }

  .VPMenu {
    border-radius: 10px 8px;
    padding: 10px;
    border: 1px solid $borderColor-3;

    .items {
      .VPMenuLink {
        .VPLink {
          font-weight: 400;
          padding: 0 10px;
          color: var(--bp-gray-8);

          &:hover {
            background-color: var(--bp-gray-1);
            color: var(--bp-gray-9);
          }
        }
      }

      .VPMenuGroup {
        .title {
          font-size: 12px;
          padding: 0 8px;
          color: var(--bp-gray-4);
        }
      }
    }
  }

  .VPSocialLinks {
    .VPSocialLink {
      color: var(--bp-gray-7);
    }
  }

  .VPFlyout {
    .button {
      color: var(--bp-gray-7);
    }
  }

  .VPSwitch {
    border: 1px solid $borderColor-3;
    background-color: var(--bp-gray-1);

    .check {
      background-color: var(--bp-gray-0);

      .icon [class^="vpi-"] {
        color: var(--bp-gray-6);
      }
    }

    &:hover {
      border-color: $borderColor-3;
    }
  }

  .VPNavBarSearch {
    .DocSearch-Button {
      border: none;
      background-color: var(--bp-gray-0);
      transition: all 0.2s ease;

      &:hover {
        background-color: var(--bp-gray-1);
        transition: all 0.2s ease;
      }
    }

    .DocSearch-Button-Container {
      span {
        font-weight: 400;
        color: var(--bp-gray-5);
      }
    }

    .DocSearch-Button-Keys {
      opacity: 0.8;
    }
  }

  .divider {
    display: none;
  }
}
